@import url('https://fonts.googleapis.com');

* {
    padding: 5px;
    margin: 5px;
    background: #FFFFFF;
    color: #000000;
    font-family: 'Open Sans', 'PT Sans', 'Oswald', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    line-height: 1.5; 
}

#logo {
  width: 18%;
  display: block;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 12px;
}

nav a:hover {
  border-color: #9F86C0;

  }

.active {
  color: #5E548E;    
}

#CTA {
    text-decoration: none;
    border-color: #9F86C0;
    background-image: linear-gradient(red, blue);
    color: transparent;
    background-clip: text;
}

footer {
  border-top: 1px solid rgba(94,84,142,.5);
  padding: 18px 16px;
  text-align: center;
  color: rgba(0,0,0,.72);
  }

  th {
  padding-top: 12px;
  padding-bottom: 12px;
  width: fit-content;
}

td:nth-child(even) {
  background-color: #ffffff;
}

form * {
  margin: auto;
  text-align: center;
}

.container {
  display: grid; /* Turns this div into a CSS Grid layout */
  grid-template-areas:   /* Defines the layout structure */
    'header header'
    'nav_bar nav_bar'
    'main main-img'
    'footer footer';
}

/* Places each element into the correct area of the grid */
.header {
   grid-area: header; 
}
.nav_bar {
   grid-area: nav_bar; 
   display: flex; /* Uses Flexbox for internal layout */
   justify-content: right;   /* Right aligns the content */
}
.main {
  grid-area: main; 
}
.main_img {
   grid-area: main-img; 
}
.footer {
   grid-area: footer;
}

#long_para {
  display: none
}

#read_less {
  display: none
}

#purchase_form {
  display: none
}

.nav_bar a.icon {
  display: none
}

#map { height: 180px; }

#video {
  width: 400px;
  height: 300px;
}

@media only screen and (max-width: 650px) {
  .nav_bar {
    display: block
  }

  .nav_bar a:not(:first-child) {
    display: none
  }

  .nav_bar a.icon {
    display: block;
    text-align: right
  }

  .nav_bar.responsive a{
    display: block;
    text-align: left;
  }
}




